@using dataprovider.Web.ViewModels
@model StudentViewModel
@{
  Layout = null;
}
<div>姓名:<label>@Model.Name</label></div>
<div>生日:<label>@Model.Age</label></div>
<div>性别:<label>@Model.Gender</label></div>
<a asp-action="Index">返回列表</a>

