@model IEnumerable<StudentViewModel>
<div>
    <p>
        创建学生
        <div>
            <a asp-action="Create">添加</a>
        </div>
    </p>
    @*@Html.PartialAsync("_StudentTableView",Model)*@
    @*使用TagHelper*@
    <partial name="_StudentTableView" for="@Model"/>
    @*视图组件*@
    @*@await Component.InvokeAsync("Welcome")*@

    @*使用TagHelper加载视图组件，必须在_ViewImports.cshtml中引用当前项目*@
    <vc:welcome></vc:welcome>
</div>